/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
USE [Esign_new]
GO
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_customers
	(
	id int NOT NULL IDENTITY (1, 1),
	idnumber nvarchar(50) NULL,
	firstname nvarchar(150) NULL,
	lastname nvarchar(150) NULL,
	phone1 nvarchar(20) NULL,
	mobile1 nvarchar(20) NULL,
	securityquestion int NULL,
	securityansware nvarchar(900) NULL,
	certificates nvarchar(250) NULL,
	temp nvarchar(250) NULL,
	calleruserid float(53) NULL,
	address nvarchar(250) NULL,
	email nvarchar(150) NULL,
	company nvarchar(150) NULL,
	impersonateattempt bit NOT NULL
	)  ON [PRIMARY]
	 --TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_customers SET (LOCK_ESCALATION = TABLE)
GO
SET IDENTITY_INSERT dbo.Tmp_customers ON
GO
IF EXISTS(SELECT * FROM dbo.customers)
	 EXEC('INSERT INTO dbo.Tmp_customers (id, idnumber, firstname, lastname, phone1, mobile1, securityquestion, securityansware, certificates, temp, calleruserid, address, email, company, impersonateattempt)
		SELECT id, idnumber, CONVERT(nvarchar(150), firstname), CONVERT(nvarchar(150), lastname), phone1, mobile1, securityquestion, CONVERT(nvarchar(900), securityansware), CONVERT(nvarchar(250), certificates), CONVERT(nvarchar(250), temp), calleruserid, CONVERT(nvarchar(250), address), CONVERT(nvarchar(150), email), CONVERT(nvarchar(150), company), impersonateattempt FROM dbo.customers WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT dbo.Tmp_customers OFF
GO
DROP TABLE dbo.customers
GO
EXECUTE sp_rename N'dbo.Tmp_customers', N'customers', 'OBJECT' 
GO
ALTER TABLE dbo.customers ADD CONSTRAINT
	PK_customers PRIMARY KEY CLUSTERED 
	(
	id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
/****** Object:  Index [IdNumber_Where_OrderBy]    Script Date: 08/12/2024 10:24:49 ******/
CREATE NONCLUSTERED INDEX IdNumber_Where_OrderBy ON [dbo].[customers]
(
	[idnumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO


COMMIT
